<!-- <nav class="navigation">
    <a routerLink="/home" routerLinkActive="is-active" class="navigation_item">Home</a>
    <a routerLink="/step/1" routerLinkActive="is-active" class="navigation_item">Step 1</a>
    <a routerLink="/step/2" routerLinkActive="is-active" class="navigation_item">Step 2</a>
    <a routerLink="/step/3" routerLinkActive="is-active" class="navigation_item">Step 3</a>
    <a routerLink="/step/4" routerLinkActive="is-active" class="navigation_item">Step 4</a>
    <a routerLink="/personal" routerLinkActive="is-active" class="navigation_item">Personal</a>    
    <a routerLink="/result" routerLinkActive="is-active" class="navigation_item">Result</a>
</nav> -->

<router-outlet></router-outlet>

<!-- <pre>{{ formData | json }}</pre> -->