<section class="section">
    <div class="container">

        <div class="welcome">

            <h1 class="heading--large">Demo Questionaire with Angular 2</h1>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae dignissimos incidunt sequi possimus ad pariatur omnis mollitia labore, nesciunt excepturi porro. Iure quia voluptates commodi temporibus accusantium modi excepturi corporis.</p>

        </div>

        <a routerLink="/step/1" class="button">Get started</a>

    </div>
</section>